NEXT_PUBLIC_SITE_URL=https://sunnahsourcebd.com
NODE_ENV=production
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
DATABASE_URL=
DIRECT_URL=
BKASH_BASE_URL=https://tokenized.pay.bKash.com/v1.2.0-beta/tokenized/checkout
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_USERNAME=
BKASH_PASSWORD=
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
SSLCOMMERZ_IS_SANDBOX=false
STEADFAST_BASE_URL=https://portal.packzy.com/api/v1
STEADFAST_API_KEY=
STEADFAST_SECRET_KEY=
GREENWEB_SMS_API_KEY=
CRON_SECRET=
